<%= form_with model: @recipe, local: true do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <% Ingredient.all.each do |ingredient| %>
    <p>
      <%= form.text_field ("ing_" + ingredient.id.to_s),
          value: @recipe.quantities_by_ingredient_id.fetch(ingredient.id, 0) %>
      <%= ingredient.to_s %>
    </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>

<% end %>